.native-text-input {
    border-radius: 0.375rem;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #ced4da;
    padding: 0.375rem 0.75rem;
}
.native-text-input:focus {
    outline: none !important;
    border:1px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;

}